---
layout: layouts/base.njk
eleventyNavigation:
  key: Home
  order: 1
---
{%- css %}{% include "public/css/home.css" %}{% endcss %}
{%- rollup "public/js/home.js" | url %}

<div class="hero">
	<h1><div>Nathan</div><div>Dalbec</div></h1>
	<h4>Creative Developer</h4>
	<div class="social-links">
		<a href="https://github.com/ntdalbec"><img src="/img/github-mark-white.svg"></img></a>
		<a href="https://codepen.io/angryknees"><img src="/img/codepen-logomark.svg"></img></a>
	</div>
</div>

<div class="filter"></div>