---
layout: layouts/base.njk
eleventyNavigation:
  key: Home
  order: 1
---
{%- css %}{% include "public/css/home.css" %}{% endcss %}
{%- rollup "public/js/home.js" | url %}

<div class="hero">
	<h1><div>Nathan</div><div>Dalbec</div></h1>
	<h4>Creative Developer</h4>
</div>

<div class="filter"></div>